<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
    <form action="/user" method="post">
        <input type="text" name="id"  placeholder="enter id">
        <br><br><br>
        <input type="text" name="username"  placeholder="enter username:">
        <br><br><br>
        <input type="password" name="password"  placeholder="enter password">
        <br><br><br>
        <input type="email" name="email"  placeholder="enter email">
        <br><br><br>
        <button>add</button>
    </form>
</body>
</html>